<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="."/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:site_name" content="Friendmeat">
    {% block meta %}
    {{data}}
    <title>{{title}} - {{meta.title}}</title>
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.svg">
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body id="app" class="bg-slate-900 text-zinc-300 w-screen h-full min-h-screen flex flex-col lg:grid lg:grid-rows-1 lg:grid-cols-[8rem_auto]">
  {% comment %} Header {% endcomment %}
    <div id="header-container" class="lg:row-span-2">
      {% include 'app/header' %}
    </div>
    {% comment %} End Header {% endcomment %}
    <div id="content" class="min-h-dvh mx-8 lg:min-h-full">
      <h1 id="title" class="my-3">{{ title | upcase }}</h1>
      {% block content %}
      {{ content }}
      {% endblock %}
    </div>
    {% comment %} Footer {% endcomment %}
    <div id="footer-container" class="max-h-min">
      {% include 'app/footer' %}
    </div>
    {% comment %} End footer {% endcomment %}
     <script type="module" src="/assets/js/index.js"></script>
  </body>
</html>