<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="."/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:site_name" content="Friendmeat">
    {% block meta %}
    {{data}}
    <title>
    {% if title == meta.title %}
        {{ title }}
        {% else %}
        {{title}} - {{meta.title}}
    {% endif %}
    </title>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="/assets/favicon.svg">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body id="app" class="bg-background text-text w-screen h-full min-h-screen flex flex-col lg:grid lg:grid-rows-1 lg:grid-cols-[8rem_auto]">
  {% comment %} Header {% endcomment %}
    <div id="header-container" class="lg:row-span-2">
      {% include 'app/header' %}
    </div>
    {% comment %} End Header {% endcomment %}
    <div id="content" class="min-h-dvh mx-8 lg:min-h-full">
      <h1 id="title" class="my-3 no-underline!">{{ title | upcase }}</h1>
      {% block content %}
      {{ content }}
      {% endblock %}
    </div>
    {% comment %} Footer {% endcomment %}
    <div id="footer-container" class="max-h-min">
      {% include 'app/footer' %}
    </div>
    {% comment %} End footer {% endcomment %}
     <script type="module" src="/assets/js/index.js"></script>
  </body>
</html>