{% layout "layouts/default" %}
{% block meta %}
<meta name="og:title" content="{{ title }}">
<meta name="og:description" content="">
<meta name="og:type" content="article">
<meta name="og:url" content="https://friendmeat.org{{ page.url }}">
<meta name="og:image" content="{{image.src}}" >
<title>Friendmeat</title>
{% endblock %}
{% block content %}
<div class="flex flex-col p-4 justify-center px-auto">
    <img src="{{ image.src }}" alt="{{ image.alt }}" />
    <figcaption>
        <div>{{ image.caption }}</div>
        {% if image.artist %}
        <div>by <a href="{{ image.site }}" class="interactive">{{ image.artist }}</a></div>
    {% endif  %}
    </figcaption>
</div>
<div class="w-full grid grid-cols-2">
    <div class="min-w-full">
        {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous}}" class="interactive">Back</a>
        {% endif %}
    </div>
    <div class="min-w-full flex justify-end">
        {% if pagination.href.next %}
        <a href="{{ pagination.href.next}}" class="interactive text-right">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}