{% block content %}
<div class="">
    <figure class="mx-8 flex flex-col justify-end">
        <img class="" src="{{ image.src }}" alt="{{ image.alt }}"/>
        {% if image.artist %}
            <div>
                <figcaption class="text-right">
                    by <a class="underline interactable" href="{{ image.site }}" target="_blank">{{ image.artist }}</a>
                </figcaption>
            </div>
        {% endif %}
    </figure>
</div>
<div class="grid grid-cols-2">
    <div class="min-w-full">
        {% if pagination.href.previous %}<a class="interactable" href="{{ pagination.href.previous}}">Back</a>{% endif %}
    </div>
    <div class="min-w-full text-right">
        {% if pagination.href.next %}<a class="interactable" href="{{ pagination.href.next}}">Next</a>{% endif %}
    </div>
</div>
{% endblock %}